html,body{
    height: 100%;
    width: 100%;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Gilroy", sans-serif;
}
#main{
    height: 100%;
    width: 100vw;
    background-color: #70b8f393;
}
#details{
    width: 100vw;
    height: 20px;
    background-color: rgba(34, 31, 31, 0.897);
    color: white;
    display: flex;
    align-items: center;
    font-size: 1.5vw;
    padding: 10px;
    gap: 60px;
    letter-spacing: 1.5px;
}
#mail,#phone,#time{
    display: flex;
    align-items: center;
    gap: 10px;
}
#unav{
    height: 10%;
    width: 100%;
    display: flex;
    position: relative;
    font-weight: 800;
    font-size: 2vw;
}
#ulink{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    display: flex;
    gap: 20px;
}
#unav a{
    position: relative;
    color: #ffffff;
    text-decoration: none;
    font-weight: 800;
    letter-spacing: 3px;
}
#licon{
    top: 50%;
    left: 5%;
    position: absolute;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%,-50%);
    border: 3px solid white;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}
 #active::before{
    content: "";
    width: 40%;
    height: 2px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    left: 50%;
    top: -5px;
    transform: translate(-50%,0%);
}
#ricon{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    right: 5%;
    position: absolute;
    transform: translate(-50%,-50%);
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    width: 45px;
    height: 45px;
}
#ricon i{
    color: black;
}
#card{
    width: 100%;
    color: white;
}
.error-message {
        background-color: #f8d7da;
        color: #721c24;
        border: 1px solid #f5c6cb;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 5px;
        text-align: center;
        font-weight: 600;
        position: absolute;
        justify-self: center;
}
.error {
    color: red;
    font-size: 10px;
    margin-top: 3px;
    min-height: 20px;
    display: block;
}

#card h1{
    font-size: 5vw;
    letter-spacing: 2px;
    line-height: 110px;
    display: flex;
    justify-self: center;
}
#card h1 span{
    color: black;
}
#login{
    width: 30vw;
    height: 35vw;
    background-color: white;
    left: 50%;
    top: 65%;
    position: absolute;
    transform: translate(-50%,-50%);
    border-radius: 20px;
}
.log{
    font-size: 1vw;
    align-self: center;
}
#loginside{
    left: 50%;
    position: absolute;
    transform: translate(-50%,0);
}
.log input{
    padding: 8px 50px;
    border: 3px solid black;
    border-radius: 5px;    
}
#loginside h3:nth-child(1){
    margin-top: 40px;  
}
#loginside h3{
    letter-spacing: 2px; 
}
#login button{
    align-items: center;
    left: 50%;
    position: absolute;
    transform: translate(-50%,0);
    padding: 10px 40px;
    border-radius: 8px;
    background-color: #70B8F3;
    border: 2px solid #70B8F3;
    font-size: 22px;
    display: flex;
}
#already{
    display: flex;
    bottom: 0;
    position: absolute;
    top: 115%;
    justify-self: center;
}
#already a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    margin-left: 5px;
}
#already h6{
    font-size: 15px;
}
