<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styleabout.css') }}">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>
    <div id="main">
        <div id="details">
            <div id="mail">
                <i class="ri-mail-line"></i>
                <h6>hospitalmanagement@gmail.com</h6>
            </div>
            <div id="phone">
                <i class="ri-phone-line"></i>
                <h6>+91 9867986769</h6>
            </div>
            <div id="time">
                <i class="ri-time-fill"></i>
                <h6>24 <span>x</span> 7</h6>
            </div>
        </div>
       <div id="unav">
            <div id="licon">
                <i class="ri-hospital-line"></i>
            </div>
            <div id="ricon">
                <a href="home.html">
                    <i class="ri-home-4-fill"></i>
                </a>
            </div>
        </div>
        <div id="card">
            <h1>About <span>Us</span></h1>
            <div id="lc">
                <div id="llc"></div>
            </div>
        </div>
        <div id="labout">
            <h3>Book appointments, manage doctors, and track your treatment history—  all in one place.We provide hastel free booking of medical services.We provide security and integrity</h3>
            <div id="limg">
                <div id="limg1"></div>
                <div id="limg1"></div>
                <div id="limg1"></div>
            </div>
        </div>
    </div>
</body>
</html>